.landingPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.landingElement {
  display: flex;
  flex-direction: column;
}

.firstHeader {
  display: flex;
  justify-content: right;
  align-items: right;
}

.logo {
  font-size: 40px;
  font-weight: bold;
}
.header {
  background-color: rgb(255, 255, 255);
  text-align: center;
  height: 15vh;

  margin: 20px 20px;
}

.loginPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loginForm {
  display: flex;
  flex-direction: column;
}

.registerPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.registerForm {
  display: flex;
  flex-direction: column;
}
