.landingPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.landingElement {
  display: flex;
  flex-direction: column;
}

.firstHeader {
  display: flex;
  justify-content: right;
  align-items: right;
}

.menuBar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.landingImage {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.mainImage {
  width: 800px;
}

.logo {
  font-size: 60px;
  font-weight: bold;
}
.header {
  background-color: rgb(255, 255, 255);
  text-align: center;
  height: 15vh;

  margin: 20px 20px;
}

.loginPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loginForm {
  display: flex;
  flex-direction: column;
}

.registerPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.registerForm {
  display: flex;
  flex-direction: column;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
  color: rgb(175, 175, 175);
}
